flows(4).json
[
    {
        "id": "7e262b391d68e69f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5eb8d29cdf712bc7",
        "type": "inject",
        "z": "7e262b391d68e69f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "716d07b316c2ea2c"
            ]
        ]
    },
    {
        "id": "39fac0dd1f92730d",
        "type": "debug",
        "z": "7e262b391d68e69f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 180,
        "wires": []
    },
    {
        "id": "716d07b316c2ea2c",
        "type": "function",
        "z": "7e262b391d68e69f",
        "name": "function 1",
        "func": "var date = new\nDate(msg.payload);\nmsg.payload=date.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 180,
        "wires": [
            [
                "39fac0dd1f92730d"
            ]
        ]
    }
]